<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
  
<suite name="ApplicationName" verbose="1" >
  <test name="RegressionTesting" >
  <groups>
  <run>
    <include name="smoke"></include>
  </run>  
  </groups>
    <classes>
       <class name="com.psiexams.businessscripts.CreateAnAccount" />
       <class name="com.psiexams.businessscripts.Registration" />
    </classes>
  </test>

</suite>
